* {
    box-sizing: border-box;
}
.wrapper{
    width: 1100px;
    margin: 30px auto;

}
header{
    border: 1px solid black;
    background-color: orange;
}
.container{
    display: flex;
}
main{
    width: 900px;
    padding: 20px;
    border: 1px solid black;
}

.right{
    width: 200px;
    margin-left: 0px;
    padding: 20px;
    border: 1px solid black;
}
footer{
    padding: 30px 0;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}
.block{
    margin: 20px 0 50px 220px;
}

.sitename{
    margin-bottom: 10px;
    font: 20px Arial;
}

nav {
    display: flex;
    width: 600px;
    border: 1px solid rgb(0, 0, 0);

}
nav a {
    padding: 10px;
    color: blue;
    text-decoration: none;
    font: 15px Arial;
}

nav a:hover, nav a.active {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

main h1{
    font: 20px "Times New Roman";
}
main p{
    margin: 10px 0;
    text-align: justify;
    font: 15px Arial;
}


.custom-table {
  width: 100%;
  border-collapse: collapse;
}
.custom-table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}